<div class="edit-registrations">
  <h1 class="app-info-header">Editing Bjond Registration</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @bjond_registration %> |
  <%= link_to 'Back', bjond_registrations_path %>
</div>